<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-label >Welcome, {{id2}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Enter Your Age: </ion-label>
    <ion-input type="number" placeholder ="Your Age" [(ngModel)]="age"> </ion-input>
    <ion-button size="large" (click)="ageRed()">Enter</ion-button>
    <ion-button shape ="round" size="large" color="danger" [routerLink] = "['/hello']"> Logout </ion-button>
    </ion-item>
</ion-content>
